.Player {
  width: 80%;
  height: 180px;
  margin-top: 20px;
  padding-left: 5px;
  display: flex;
  border-radius: 20px 20px 0 0;
  background-color: #228b22;
  border-top: 7px solid #442a22;
  overflow-x: auto;
  box-sizing: border-box;
}

.ACTIVEPlayer {
  border-top: 7px solid aqua;
}
